include LICENSE
include README.md
include requirements.txt
include service/config.yaml
include cortex/schema.sql
recursive-include schemas *.yaml
recursive-exclude index *
recursive-exclude snapshots *
recursive-exclude __pycache__ *
